<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Микробенчмарк ONNX-моделей (только debug): см. bench/BenchmarkWorker.kt -->
        <receiver
            android:name=".bench.BenchmarkReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>

</manifest>
